PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/hospitaldb?retryWrites=true&w=majority
JWT_SECRET=hospital_jwt_secret_2024_secure_key
JWT_EXPIRES_IN=7d
NODE_ENV=development
